body {
    background-color: #D9D9D9;
    color: #6D6D6D;
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR  */

header {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #6D6D6D;
}


.navbar {
    height: 50px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    font-size: 34px;
    cursor: pointer;
}


.navbar-logo img {
    max-height: 60px;
}

.contact-text {
    color: #6D6D6D;
    font-weight: bold;
    font-weight: 100;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.time-to-enter {
    font-size: 100px;
    font-weight: 600;
    text-align: center;
}

/* CTA BUTTON */

.button-container {
    width: 230px;
    height: 60px;
    border-radius: 36px;
    border: 1px solid #6D6D6D;
    background: #D9D9D9;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1000;
    margin-top: 10px;
    position: relative;
    padding-right: 20px;
    margin-bottom: 60px;
}
.button-container:hover .circle-container {
    background: #585858;
}

.circle-container {
    background: #6D6D6D;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
}

.arrow {
    color: #D9D9D9;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: inherit; 
}


/* GALLERY PAGE */

.gallery {
    background-color: #202020;
    padding: 80px;
}

.gallery-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
}

.left-content {
    font-size: 30px;
}

.gallery-mid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.poster {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 335px;
    border-radius: 29px;
    border: 1px solid #D9D9D9;
    background: #202020;
}

.poster-content {
    font-size: 40px;
    text-align: center;
    color: #fff;
}

.gallery-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.painting {
    background-color: #D9D9D9;
    border-radius: 30px;
    width: 372px;
    height: 584px;
}
